body {
    margin: 0;
}

#pokedex {
    min-height: 50vh;
    background-color: rgb(251,108,108);
    color: white;
    display: flex;
    font-family: 'Open Sans';
    padding: 24px;
}

.info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px; 
    min-height: 100px;
}