body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokedex {
    font-family: 'Open Sans';
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 80vh;
    box-shadow: 5px 5px 8px 10px #d2d1d1;
    border-radius: 40px;
}

#headContainer {
    color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 30vh;
}

.head-line-container {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#pokemonImage {
 height: 200px;
 z-index: 2;
}

.info-container {
    background-color: white;
    border-radius: 40px;
    margin-top: -40px; 
    height: 60vh;
    display: flex;
}

