body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pokedex {
  font-family: "Open Sans";
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  width: 400px;
  max-height: 860px;
  box-shadow: 5px 5px 8px 10px #d2d1d1;
  border-radius: 40px;
}

#headContainer {
  color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.head-line-container {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
}

#typePokemon {
  padding-bottom: 12px;
 }

 .type-pokemon-text {
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 24px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 24px;
 }

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#pokemonImage {
  height: 260px;
  padding-top: 12px;
  padding-bottom: 32px;
  z-index: 2;
}

.info-container {
  background-color: white;
  border-radius: 40px;
  margin-top: -64px;
  max-height: 680px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.card-selection-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 48px;
}

.about-container {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    gap: 24px;
}

.about-text {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-left: 24px;
   gap: 24px;
}

.bold-text {
 width: 100px;
}
 .about-text-experience {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 24px;
  padding-bottom: 32px;
  gap: 24px;
 }